.account{
    display: flex;
    flex-direction: column;
    
}

.accountIcon{
    padding-left: 25px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
    color: var(--clr-lightViolet)
}

.accountIcon svg {
    font-size: 70px;
    cursor: pointer;
}

#accountIcon:hover{
    border-radius: 50px;
    border: 2px solid;
    border-color: var(--clr-lightViolet);
}

.account__options{
    padding-right: 0px;
    padding-left:0px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: px;
    height: 130px;
    overflow: hidden;
    text-align: center;
    background-color: var(--clr-violet);
    
}
.account__options ul {
    list-style: none;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 5px;
}
.account__options li {
    padding-top: 5px;
    cursor: pointer;
}
.account__options li:hover{
    border: 2px solid;
    border-color: var(--clr-lightViolet);
}
.account__options a {
    text-decoration: none;
    color: White;
}